@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
 
  background-image: url("/public/image/home.jpg");
  min-height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
